.stingerTab {
    background-color: #ffb300;
}

.gallerySting {
    padding: 5px;
}

.cardApprover {
    margin-top: 45px;
}

.approval {
    padding: 15px;
    width: 350px;
    height: 170px;
    box-shadow: 5px 10px 8px #888888;
    
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 90%;
  }

  .mat-radio-button {
      padding: 25px;
  }

  .submitBut {
      color: white;
      background-color: #ffb300;
  }

  .notify {
    overflow-y:auto;
  }

