<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                        aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Approve <span class="badge badge-danger">3</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Create Notification</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="card shadow mb-4">
                        <div class="card-header  pb-0 pt-0 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-40">3d Animated Characters</h6>
                            <div class="pt-3">
                                <button type="button" class="btn-green btn"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <div class="card-body  height-253">
                            <div class="row pl-4 pb-5 pt-5">
                                <div class=" col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1633animated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class=" col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1634animated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class="col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1636animated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class="col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 635 copyanimated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class="col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1637animated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class="col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1635animated.png" alt="" width="100">
                                    </a>
                                </div>
                            </div>
                            <div class="row pl-4 pb-5 pt-5">
                                <div class=" col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1633animated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class=" col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1634animated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class="col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1636animated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class="col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 635 copyanimated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class="col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1637animated.png" alt="" width="100">
                                    </a>
                                </div>
                                <div class="col-md-2 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1635animated.png" alt="" width="100">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4 ">
                        <div class="card-header  pb-0 pt-0 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-40">3d Text</h6>
                            <div class="pt-3">
                                <button type="button" class="btn-green btn"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <div class="card-body height-253">
                            <div class="row pl-4 pb-5 pt-5">
                                <div class=" col-md-3 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 16523d.png" alt="" width="150">
                                    </a>
                                </div>
                                <div class=" col-md-3 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 16533d.png" alt="" width="150">
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 16543d.png" alt="" width="150">
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 16553d.png" alt="" width="150">
                                    </a>
                                </div>
                            </div>
                            <div class="row pl-4 pb-5 pt-5">
                                <div class=" col-md-3 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 16523d.png" alt="" width="150">
                                    </a>
                                </div>
                                <div class=" col-md-3 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 16533d.png" alt="" width="150">
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 16543d.png" alt="" width="150">
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 16553d.png" alt="" width="150">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4 ">
                        <div class="card-header  d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-40">3d Text</h6>
                            <div class="pt-3">
                                <button type="button" class="btn-green btn"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <div class="card-body height-253">
                            <div class="row pl-4 pb-5 pt-5">
                                <div class=" col-md-4 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1666text.png" alt="" width="220">
                                    </a>
                                </div>
                                <div class=" col-md-4 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1667text.png" alt="" width="220">
                                    </a>
                                </div>
                                <div class="col-md-4 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1668text.png" alt="" width="220">
                                    </a>
                                </div>
                            </div>
                            <div class="row pl-4 pb-5pt-5">
                                <div class=" col-md-4 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1666text.png" alt="" width="220">
                                    </a>
                                </div>
                                <div class=" col-md-4 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1667text.png" alt="" width="220">
                                    </a>
                                </div>
                                <div class="col-md-4 col-xs-4 thumb">
                                    <a class="thumbnail" href="#">
                                        <img class="img-responsive" src="assets/images/newlayout/Layer 1668text.png" alt="" width="220">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body p-0">
                                    <div class="row  ">
                                        <div class="col-md-6">
                                            <img src="assets/images/newlayout/Rounded Rectangle 1737text.png" height="100%">
                                        </div>
                                        <div class=" col-md-7 col-lg-6 pr-2em pt-2 col-sm-11">
                                            <div class="d-flex justify-content-center">
                                                <img src="assets/images/newlayout/phototext.png" class="mx-auto">
                                            </div>
                                            <div class="text-center">
                                                <span class="black font-weight-bold">Username</span><br>
                                                <span>Username@email.com</span><br>
                                                <span>29.06.2018</span><br>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button class="btn btn-green border-radius-o">Accept</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn btn-red border-radius-o float-right">Decline</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body p-0">
                                    <div class="row  ">
                                        <div class="col-md-6">
                                            <img src="assets/images/newlayout/Rounded Rectangle 1737text.png" height="100%">
                                        </div>
                                        <div class=" col-md-7 col-lg-6 pr-2em pt-2 col-sm-11 ">
                                            <div class="d-flex justify-content-center">
                                                <img src="assets/images/newlayout/phototext.png" class="mx-auto">
                                            </div>
                                            <div class="text-center">
                                                <span class="black font-weight-bold">Username</span><br>
                                                <span>Username@email.com</span><br>
                                                <span>29.06.2018</span><br>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button class="btn btn-green border-radius-o">Accept</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn btn-red border-radius-o float-right">Decline</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body p-0">
                                    <div class="row  ">
                                        <div class="col-md-6">
                                            <img src="assets/images/newlayout/Rounded Rectangle 1737text.png" height="100%">
                                        </div>
                                        <div class=" col-md-7 col-lg-6 pr-2em pt-2 col-sm-11 ">
                                            <div class="d-flex justify-content-center">
                                                <img src="assets/images/newlayout/phototext.png" class="mx-auto">
                                            </div>
                                            <div class="text-center">
                                                <span class="black font-weight-bold">Username</span><br>
                                                <span>Username@email.com</span><br>
                                                <span>29.06.2018</span><br>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button class="btn btn-green border-radius-o">Accept</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn btn-red border-radius-o float-right">Decline</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br> <br> <br>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-40">Create Notification</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <form>
                                        <div class="form-group ">
                                            <input type="text" placeholder="Title" name="" class="form-control  shadow">
                                        </div>
                                        <div class="form-group ">
                                            <textarea name="" class="form-control shadow" rows="4" placeholder="Text"></textarea>
                                        </div>
                                        <div class="form-group ">
                                            <select class="form-control  shadow" placeholder="Location">
                                                <option selected>Location</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="form-row">
                                                <div class="form-group col-md-4">
                                                        <gijgo-datepicker #datepicker  [configuration]="configuration"></gijgo-datepicker>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                            <gijgo-timepicker #timepicker [configuration]="configuration"></gijgo-timepicker>
                                                                                                                </div>
                                            <div class="form-group col-md-4 pt-2">
                                                <div class="custom-control custom-radio custom-control-inline mb-2">
                                                    <input type="radio" id="customRadioInline1" name="customRadioInline1" checked class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline float-right">
                                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-generic btn-block"> Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-40">Create Notification</h6>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush list-height">
                                        <li class="list-group-item p-0" *ngFor="let notification of notifications">
                                            <table width="100%">
                                                <tr >
                                                    <td  style="    width: 114px;

                                                    ">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class=" round circle {{notification.round}}">
                                                                   <p><i class="{{notification.icon}}"></i></p>
                                                                  </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="ml-2">
                                                        <span class="black font-weight-bold">{{notification.title}}</span>
                                                        <br>
                                                        <span class="black font-smaller text-danger">{{notification.time}} <i class="far fa-clock"></i></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






