
.material-icons.md-18 {
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
    }

.material-icons.md-24 {
    font-size: 24px !important;
    height: 24px !important;
    width: 24px !important;
    }

.material-icons.md-36 {
    font-size: 36px !important;
    height: 36px !important;
    width: 36px !important;
    }

.material-icons.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
    }

    .chart-container {
        display: block;
        position: relative;
    }
    .w100{
        width: 100%;
        height: 300px;
        overflow: hidden;
        display: block;
    }

    mat-progress-bar.my-color .mat-progress-bar-fill::after {
        background-color: white;
      }

      .titleFont {
          color: #3373ee;
          font-weight: 500;
          $font-family: 'Poppins, sans-serif'
      }