.btn-block {
    background-color: #ffb300 !important;
    color: white !important;
}
mat-card {
    transition: none !important;
    box-shadow: none !important;
}


/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #394164 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #ffb300;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #ffb300 !important; /* Red background for example */
}

.placeholder {
    color: white;
}

.mat-focused .placeholder {
    color: #ffb300;
}
.mat-focused-underline .placeholder {
    color: #ffb300;
}

/deep/ .mat-input-placeholder {
    color: #fff;
    font-size: 2em;
}

