.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0px;
}

.card-header {
    background-color: white;
    border-bottom: none;
}

.card-header1 {
    background-color: #f8f9fd;
    border-bottom: none;
}

.text-40 {
    color: #8D9AB5;
}

.table-custom {
    border-top: none;
    border-right: 1px solid #dddfeb;
}

.table-custom .mat-cell {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #dddfeb;
}
.table-custom th{
    font-size: 16px;
    padding: 12px;

}
.table-custom .mat-header-cell {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #dddfeb;

}
.mat-header-cell{
    padding: 12px;
}
.table-custom .mat-row {
    border-bottom:  none;
    border-top: 1px solid #dddfeb;
    border-right: 1px solid #dddfeb;
}

.image_outer_container {
    margin-top: auto;
    width: 70px;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
}

.image_inner_container {
    border-radius: 50%;
    padding: 1px;
    background: #f8f9fd;

}

.image_inner_container img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid white;
}

.image_outer_container .green_icon {
    background-color: #4cd137;
    position: absolute;
    right: 0px;
    bottom: 52px;
    height: 12px;
    width: 12px;
    border: 1px solid white;
    border-radius: 50%;
}

.w-68 {
    width: 62px;
}

.w-10 {
    width: 125px;
}

.w-80 {
    width: 40%;
}

.w-20 {
    width: 39%;
}

.no-border {
    border: none !important;
}

.no-border ng-container td {
    border: none !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-focus:focus {
    border: none;
    outline: none;

}

.page-link {
    border-radius: 13px;
}

.page-item:first-child .page-link {
    border-radius: 13px;
    color: blue;

}

.page-item:last-child .page-link {
    border-radius: 13px;
    color: blue;

}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #090a0b;
    background-color: #fff;
    border: 1px solid #dddfeb;
}

.form-control {
    border-radius: 0;
    border: none;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #3eba3c;
    background-color: #3eba3c;
}

[role="navigator"] {
    background-color: #394164;
    color: white;
}

[role="week-days"] {
    background-color: #394164;
    color: white;
}

.border-radius-o {
    border-radius: 0rem;
}

.drop-edit-del {
    padding: 14px;
}





.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #3a3b45;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item:first-child {
    border-top-left-radius: calc(.35rem - 1px);
    border-top-right-radius: calc(.35rem - 1px)
}

.dropdown-item:last-child {
    border-bottom-right-radius: calc(.35rem - 1px);
    border-bottom-left-radius: calc(.35rem - 1px)
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #2e2f37;
    text-decoration: none;
    background-color: #f8f9fc
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #4e73df
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #858796;
    pointer-events: none;
    background-color: transparent
}

.dropdown-menu.show {
    display: block
}

.dropdown-header {
    display: block;
    padding: .5rem 1.5rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #858796;
    white-space: nowrap
}

.dropdown-item-text {
    display: block;
    padding: .25rem 1.5rem;
    color: #3a3b45
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    /* padding: 0; */
     border-bottom-width:none; 
     border-bottom-style: none; 
}

#pills-tab .nav-item {
    padding: 12px;
}

#pills-tab .nav-link {
    border-radius: .35rem;
    background-color: white;
    color: #8e97a9;
}

#pills-tab .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #FFB300;
    border-color: #FFB300;
    color: white;

}
